<h1>Meat for my mouth hole!</h1>

<h2>Burgers that have not been in my mouth!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been in my mouth!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add in a delicious burger to the list!</h2>
<form class="create-burger">

  <div class="form-group">
    <label for="burger_name">Burger Name:</label>
    <input type="text" id="burger_name" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured. 
  </div>

  <button type="submit" class"create-burger" data-burger_name="{{this.burger_name}}" data-devoured="{{this.devoured}}">Add Burger</button>
</form>


